{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{{ post.title}}</h1>

    <div>
        {{post.content}}
        <p>By {{ post.posts.first_name}} {{ post.posts.last_name }}</p>
    </div>
</div>

<a href='/users/{{post.posts.id}}'>Cancel</a>
<a href='/posts/{{post.id}}/edit'>Edit</a>
<form action='/posts/{{post.id}}/delete' method='POST'>
    <!-- <button formaction='/posts/{{post.id}}/delete' formmethod="POST">Delete</button> -->
    <button type="submit">Delete</button>
</form>



{% endblock %}