{% extends 'base.html' %}

<h1>Create a User</h1>

{% block content %}


<form action='/users/{{ user.id }}/edit' method="POST">
    <div>
        <label>First Name:</label>
        <div>
            <input name="first-name" required aria-label="first-name" placeholder="Enter a first name"
                value='{{user.first_name}}' class="form-control">
        </div>
        <label>Last Name: </label>
        <div>
            <input name="last-name" required aria-label="last-name" placeholder="Enter a last name"
                value='{{user.last_name}}' class="form-control">
        </div>
        <label>Image URL: </label>
        <div>
            <input name="image-url" aria-label="image-url" placeholder="Provide a link to an image for this user"
                value='{{user.image_url}}' class="form-control">
        </div>
    </div>
    <div>
        <button type="submit">
            Save
        </button>
        <a href='/users/{{ user.id }}'>Cancel</a>
    </div>

</form>

{% endblock %}